In [0]:
%sql
create table employees( emp_id int, e_name string, salary double);

In [0]:
%sql
insert into employees values (1,'Prasanna','80000000'),
(2,'Sri','6000000'),
(3,'Deva','5000000'),
(4,'Nata','6000000'),
(5,'Adam','500000'),
(6,'Justine','6000000'),
(7,'Trish','70000000'),
(8,'KTP','7000000')

In [0]:
%sql
select * from employees ;

In [0]:
spark.sql("DESCRIBE DETAIL employees")

In [0]:
spark.sql("DESCRIBE employees")

In [0]:
%sql
update employees 
set salary = salary + 10000
where emp_id in (1,7,4,8)

In [0]:
%sql
select * from employees

In [0]:
%sql
create table employees( emp_id int, e_name string, salary double) using delta;

In [0]:
%sql
describe detail employees;

In [0]:
%sql
create table employees1( emp_id int, e_name string, salary double) using delta;

In [0]:
%sql
insert into employees1 values (1,'Prasanna','80000000'),
(2,'Sri','6000000'),
(3,'Deva','5000000'),
(4,'Nata','6000000'),
(5,'Adam','500000'),
(6,'Justine','6000000'),
(7,'Trish','70000000'),
(8,'KTP','7000000')

In [0]:
%sql
describe detail employees1;

In [0]:
%fs ls 'abfss://unity-catalog-storage@dbstorageoxezskyaww3vm.dfs.core.windows.net/2275872777365681/__unitystorage/catalogs/4b576d7f-1540-46d6-b95a-31ff971bd950/tables/0c0a16a7-da07-4d74-a1df-a3f9ad9fdcb1'

In [0]:
%sql
show tables

In [0]:
%sql
SHOW CATALOGS;

In [0]:
%sql
SHOW TABLES IN practice_workspace.default

In [0]:
%sql
DESCRIBE DETAIL  practice_workspace.default.employees;

In [0]:
%sql
DESCRIBE DETAIL practice_workspace.default.employees1;

In [0]:
%sql
describe history employees